:root {
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --main-color: #000000;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --accent-color-focus: #188ce8;
  --hero-color: #2f303a;
  --team-background-color: #f5f4fa;
  --light-color: #ffffff;
  --button-color: #212121;
  --background-button-color: #f5f4fa;
  --backround-footer: #2f303a;
  --footer-link-contact-color: rgba(255, 255, 255, 0.6);
  --mt-section-pt: 60px;
  --mt-section-pt: 60px;
  --section-pt: 94px;
  --section-pb: 94px;
  --link-social-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  /*visibility: hidden;*/
  pointer-events: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
}

.container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__footer {
  display: block;
  margin-bottom: 20px;
}

.logo__dark {
  color: var(--main-color);
}

.logo__light {
  color: var(--light-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin-right: 93px;
  }
}

@media screen and (max-width: 768px) {
  .nav-list,
  .contact-list {
    display: none;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.portfolio {
  border-bottom: 1px solid #ececec;
}

.current {
  position: relative;
  color: var(--accent-color);
}

.contact-list__mail-link:hover, .contact-list__mail-link:focus, .contact-list__tell-link:hover, .contact-list__tell-link:focus {
  color: var(--accent-color);
}

.contact-list__mail-link, .contact-list__tell-link {
  color: var(--secondary-color);
}

.contact-list__mail-link:hover svg,
.contact-list__mail-link:focus svg,
.contact-list__tell-link:hover svg,
.contact-list__tell-link:focus svg {
  fill: currentColor;
}

.contact-list__logo {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .current {
    position: relative;
    color: var(--accent-color);
  }
  .current::after {
    position: absolute;
    content: '';
    display: inline;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    -webkit-transform: translateX(-100%) translateY(36px);
            transform: translateX(-100%) translateY(36px);
  }
  .contact-list {
    display: block;
  }
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact-list__logo {
    fill: var(--secondary-color);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .current::after {
    -webkit-transform: translateX(-100%) translateY(31px);
            transform: translateX(-100%) translateY(31px);
  }
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-list__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .contact-list__mail-link, .contact-list__tell-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  fill: var(--main-color);
}

.burger-btn__icon:focus, .burger-btn__icon:hover {
  fill: var(--accent-color);
}

.service-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-btn:hover {
  background-color: var(--accent-color-focus);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--backround-footer);
}

.footer-desktop {
  text-align: center;
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  color: var(--light-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-link {
  margin-bottom: 60px;
}

.footer-email {
  text-align: center;
}

.address__list {
  margin-bottom: 60px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color);
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__mail, .address__contact {
  color: var(--footer-link-contact-color);
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link__link > svg {
  fill: var(--light-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.social-link__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-link > li:not(:last-child) {
  margin-right: 10px;
}

.social-link__link:hover, .social-link__link:focus {
  background-color: var(--accent-color);
}

.social-link__link:hover svg,
.social-link__link:focus svg {
  fill: var(--footer-color);
}

.email-form {
  text-align: center;
}

.email-form__input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-color);
  background-color: var(--hero-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.email-form__input:focus, .email-form__input:hover {
  border-color: var(--accent-color);
}

.email-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-contact-color);
  outline: none;
}

.email-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-contact-color);
  outline: none;
}

.email-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-contact-color);
  outline: none;
}

.email-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-contact-color);
  outline: none;
}

.email-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-form__btn:hover {
  cursor: pointer;
  background-color: var(--accent-color-focus);
}

.email-form__btn > svg {
  margin-left: 10px;
  fill: var(--light-color);
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-address {
    margin-left: 76px;
  }
  .footer-social-link {
    margin-top: 5px;
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__tablet {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-title {
    width: 100%;
    text-align: left;
  }
  .footer-address {
    margin-left: 0;
    margin-right: 70px;
    text-align: left;
  }
  .footer-social-link {
    margin-right: 93px;
  }
  .footer-email {
    display: inline-block;
    width: 570px;
  }
  .email-form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .email-form__input {
    width: 358px;
    margin-right: 12px;
  }
  .email-form__btn {
    width: 200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--light-color);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
}

.mobile-menu__close-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  fill: var(--main-color);
}

.mobile-menu__close-icon:focus, .mobile-menu__close-icon:hover {
  fill: var(--accent-color);
}

.mobile-menu__list {
  margin-bottom: auto;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--button-color);
}

.mobile-menu__link:focus, .mobile-menu__link:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile-contacts__tell, .mobile-contacts__mail {
  padding-bottom: 32px;
}

.mobile-contacts__link-tell {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contacts__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.mobile-social {
  padding-top: 32px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-social__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  max-width: 480px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index/hero/hero-mobile.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-mobile.jpg");
  background-size: cover;
  background-color: var(--hero-color);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/index/hero/hero-mobile@2x.jpg");
  }
}

.hero-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index/hero/hero-tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/index/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/index/hero/hero-desktop.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/hero-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/index/hero/hero-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.feature {
  padding-top: var(--mt-section-pt);
  padding-bottom: var(--mt-section-pb);
}

.feature-list__item {
  max-width: 100%;
}

.feature-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.feature-list__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: var(--background-button-color);
  border-radius: 4px;
}

.feature-list__svg {
  fill: currentColor;
}

.feature-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

.feature-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .feature-list__item {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-top: var(--section-pt);
  }
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feature-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
  .feature-list__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--background-button-color);
    border-radius: 4px;
  }
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.activities__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.activities__item {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.activities__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--team-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__title {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__list {
  display: block;
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--light-color);
}

.team__item:not(:first-child) {
  margin-top: 30px;
}

.team__img {
  max-width: 100%;
  height: auto;
}

.team__info {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-link__item:not(:last-child) {
  margin-right: 10px;
}

.team-link__link > svg {
  fill: var(--link-social-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.team-link__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.team-link__link:hover, .team-link__link:focus {
  background-color: var(--accent-color);
}

.team-link__link:hover svg,
.team-link__link:focus svg {
  fill: var(--light-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team__item {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 26px;
    line-height: 1.17;
  }
  .team__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
  .team__info {
    padding-bottom: 30px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--button-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  height: 92px;
  border: 1px solid var(--link-social-color);
  border-radius: 4px;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__logo {
  fill: var(--link-social-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.clients__link:hover svg,
.clients__link:focus svg {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
  .clients__link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
  }
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
  .clients__link {
    width: 170px;
    height: 92px;
  }
}

.filter {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-list__btn {
  min-width: 73px;
  margin-bottom: 15px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-color);
  background-color: var(--background-button-color);
  border: none;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__btn:hover, .filter-list__btn:focus {
  cursor: pointer;
  color: var(--background-button-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .filter {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.projects-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.projects-list__item:hover, .projects-list__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__item:hover .projects-list__owerlay,
.projects-list__item:focus .projects-list__owerlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects-list .projects-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.projects-list__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.projects-list__img {
  max-width: 100%;
  height: auto;
}

.projects-list__owerlay {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--light-color);
  overflow: auto;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__name {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--button-color);
}

.projects-list__description {
  display: inline-block;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0px;
    margin-left: -30px;
    margin-top: -30px;
  }
  .projects-list__name {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .projects-list__item {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  padding: 40px;
  background: var(--light-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal > b {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.modal__close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  padding: 6px;
  width: 30px;
  height: 30px;
  background-color: var(--light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal__field:first-child {
  margin-top: 12px;
}

.modal__input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__input + svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + svg {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal__message {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.34;
  letter-spacing: 0.01em;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__message:focus {
  border-color: var(--accent-color);
}

.modal__check-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  cursor: pointer;
}

.modal__check-desc > a {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal__check-desc > a:focus {
  border-color: var(--accent-color);
}

.modal__check-desc::before {
  display: block;
  content: '';
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--button-color);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__term:checked + .modal__check-desc::before {
  background-image: url("../images/check.svg");
  background-position: center;
  border: none;
}

.modal__term:focus + .modal__check-desc::before {
  -webkit-box-shadow: 0 0 0 1px var(--accent-color-focus);
          box-shadow: 0 0 0 1px var(--accent-color-focus);
}

.modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--light-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover {
  background-color: var(--accent-color-focus);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

@media screen and (max-width: 480px) {
  .modal {
    width: 90vw;
    height: 80vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  /*visibility: hidden;*/
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */