.clients {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);

  &__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }

  &__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 150px) / 6);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--link-social-color);
    border-radius: 4px;
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid var(--accent-color);
  }

  &__logo {
    fill: var(--link-social-color);
    transition: fill var(--transition-duration)
      var(--transition-timing-function);
  }

  &__link:hover svg,
  &__link:focus svg {
    fill: var(--accent-color);
  }
}
