.feature {
  padding-top: 60px; /*Сделать переменную*/
  &-list {
    &__item {
      max-width: 100%;
    }
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      width: 100%;
      height: 120px;
      background-color: var(--background-button-color);
      border-radius: 4px;
    }

    &__svg {
      fill: currentColor;
    }

    &__title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-align: center;
      text-transform: uppercase;
    }

    &__text {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--secondary-color);
    }
  }

  @media screen and (min-width: 768px) {
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;

      &__item {
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc((100% - 60px) / 2);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: var(--section-pt);

    &-list {
      display: flex;
      margin-left: -30px;
      margin-top: -30px;

      &__item {
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc((100% - 120px) / 4);
      }

      &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        width: 270px;
        height: 120px;
        background-color: var(--background-button-color);
        border-radius: 4px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    &-list {
      //   display: flex;
      //   margin-left: -30px;
      //   margin-top: -30px;

      //   &__item {
      //     margin-left: 30px;
      //     margin-top: 30px;
      //     flex-basis: calc((100% - 120px) / 4);
      //   }

      //   &__img {
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     margin-bottom: 30px;
      //     width: 270px;
      //     height: 120px;
      //     background-color: var(--background-button-color);
      //     border-radius: 4px;
      //   }

      //   &__svg {
      //     fill: currentColor;
      //   }

      //   &__title {
      //     margin-bottom: 10px;
      //     font-weight: 700;
      //     font-size: 14px;
      //     line-height: 1.14;
      //     letter-spacing: 0.03em;
      //     text-transform: uppercase;
      //   }

      &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-color);
      }
    }
  }
}
