.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  &__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__item {
    display: block;
  }

  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__owerlay {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--footer-color);
    overflow: auto;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(110%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover &__owerlay,
  &__item:focus &__owerlay {
    transform: translateY(0%);
  }

  &__name {
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--button-color);
  }

  &__description {
    display: inline-block;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
}
