.team {
  background-color: var(--team-background-color);
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);

  &__title {
    display: block;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }

  &__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--footer-color);
  }

  &__info {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }

  &__position {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }

  &-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item > svg {
      fill: var(--link-social-color);
      transition: fill var(--transition-duration)
        var(--transition-timing-function);
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      transition: background-color var(--transition-duration)
        var(--transition-timing-function);
    }

    &__item:hover,
    &__item:focus {
      background-color: var(--accent-color);
    }

    &__item:hover svg,
    &__item:focus svg {
      fill: var(--footer-color);
    }
  }
}
