.address {
  margin-top: 20px;

  &__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-color);
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__mail,
  &__contact {
    color: var(--footer-link-contact-color);
  }
}
