.burger-btn {
  @media screen and (min-width: 768px) {
    display: none;
  }

  background-color: transparent;
  border: none;
  padding: 0;

  &__icon {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    fill: var(--main-color);
  }

  &__icon:focus,
  &__icon:hover {
    fill: var(--accent-color);
  }
}
