.email-form {
  display: inline-flex;
  margin-top: 20px;

  &__iput {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-color);
    background-color: var(--hero-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    transition: border-color var(--transition-duration)
      var(--transition-timing-function);
  }

  &__iput:focus,
  &__iput:hover {
    border-color: var(--accent-color);
  }

  &__iput::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-link-contact-color);
    outline: none;
  }

  &__btn {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    padding-left: 29px;
    padding-right: 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--footer-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__btn:hover {
    cursor: pointer;
    background-color: var(--accent-color-focus);
  }

  &__btn > svg {
    margin-left: 10px;
    fill: var(--footer-color);
  }
}


