.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--backround-footer);

  &-info {
    display: flex;
    align-items: baseline;
  }

  &-title {
    margin-bottom: 20px;
    color: var(--footer-color);
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &-address {
    margin-right: 70px;
  }

  &-social-link {
    margin-right: 93px;
  }

  &-email {
    display: inline-block;
    margin-left: auto;
    width: 570px;
  }
}
