.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);

  &__header {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }

  &__accent {
    color: var(--accent-color);
  }

  &__footer {
    color: var(--footer-color);
  }
}
