:root {
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --main-color: #000000;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --accent-color-focus: #188ce8;
  --hero-color: #2f303a;
  --team-background-color: #f5f4fa;
  --footer-color: #ffffff;
  --button-color: #212121;
  --background-button-color: #f5f4fa;
  --backround-footer: #2f303a;
  --footer-link-contact-color: rgba(255, 255, 255, 0.6);
  --section-pt: 94px;
  --section-pb: 94px;
  --link-social-color: #afb1b8;
  --accent-link-social-color: #ffffff;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
